#about{
	padding-top: 6em;
	padding-bottom: 6em;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/about.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#about h2{font-weight: bold; letter-spacing: 0.5em; color: white; margin-bottom: 2em; cursor: pointer;}
#about h2:hover{color: black;}

#about .card{background-color: rgba(0,0,0,0.7); color: white;}