#contact{
	padding-top: 6em;
	padding-bottom: 6em;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/contact.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

#contact h2{color: white; margin-bottom: 2em; font-weight: bold; letter-spacing: 0.5em; cursor: pointer;}
#contact h2:hover{color: black;}

#contact a{color: white;}
#contact a:hover{color: black;}

#contact input{margin-bottom: 0.5em; color: white; background-color: transparent; border: none;}

#contact textarea{color: white; background-color: transparent; border: none;}