.header{
	padding-top: 5em;
	padding-bottom: 5em;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header.png);
	background-size: cover;
	background-attachment: fixed;
	color: white;
	text-align: center;
	margin-bottom: 0;
}
.header h2{font-weight: bold;}