#prices{
	padding-top: 6em;
	padding-bottom: 6em;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/prices.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#prices h2{color: white; cursor: pointer; margin-bottom: 2em; font-weight: bold; letter-spacing: 0.5em;}
#prices h2:hover{color: black;}

#prices .card{color: white; background-color: rgba(0,0,0,0.7);}


