#services{
	padding-top: 6em;
	padding-bottom: 6em;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/services.jpg);
	background-size: cover;
	background-attachment: fixed;
}

#services h2{color: grey; font-weight: bold; letter-spacing: 0.5em; cursor: pointer; margin-bottom: 2em;}
#services h2:hover{color: white;}

#services i{color: white; cursor: pointer;}
#services i:hover{color: black;}


.modal-content{background-color: rgba(0,0,0,0.8); color: white; border: none;}

#services .customers{font-size: 50px; color: white;}

